* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor header .lista-header {
  font-size: 1.9vw;
  font-weight: 700;
  font-family: "Anek Malayalam", sans-serif; }

.contenedor h1 {
  font-family: "Anek Malayalam", sans-serif; }

.contenedor .seccion1 {
  font-size: 5vw;
  font-family: "Mulish", cursive;
  text-shadow: 2px 2px silver; }

.contenedor .seccion2, .contenedor .seccion2-m {
  font-size: 3.5vw;
  font-family: "Mulish", cursive;
  text-shadow: 2px 2px silver; }

.contenedor .seccion3, .contenedor .seccion3-m {
  font-size: 4vw;
  font-family: "Mulish", cursive;
  text-shadow: 2px 2px silver; }

.contenedor-store header .lista-header {
  font-size: 1.9vw;
  font-weight: 700;
  font-family: "Anek Malayalam", sans-serif; }

.contenedor-store h1 {
  color: white;
  font-family: "Anek Malayalam", sans-serif;
  padding-left: 20px;
  font-size: x-large; }

.contenedor-store .productos .productos-header h4 {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 26px;
  color: white;
  font-weight: bolder; }

.contenedor-store .productos .productos-carta h4 {
  font-family: "Mulish", cursive;
  font-weight: 19px; }

.contenedor-store .productos .productos-carta p {
  font-family: "Mulish", cursive;
  font-weight: 10px; }

.contenedor-store .publicidad {
  grid-area: publicidad; }

.contenedor-store .filtros p {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 30px;
  font-weight: 700; }

.contenedor-store .filtros ul {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 18px; }
  .contenedor-store .filtros ul li:hover {
    font-weight: 800; }
  .contenedor-store .filtros ul a {
    text-decoration: none; }

.contenedor-store .buscador {
  grid-area: buscador; }

.contenedor-store footer {
  grid-area: pie; }

.contenedor {
  background-image: url(/images/fondo.png);
  background-repeat: repeat-y;
  background-size: 100%; }
  .contenedor header {
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: solid 3px #e0e0e0; }
    .contenedor header .lista-header {
      list-style: none;
      color: #474747; }
      .contenedor header .lista-header li {
        box-shadow: #e7e7e7 2px 2px;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 0.538);
        transition: all 0.3s; }
        .contenedor header .lista-header li:hover {
          background-color: #ffffffce;
          box-shadow: 3px 3px  #ffc9bc; }
      .contenedor header .lista-header a {
        text-decoration: none;
        color: #474747; }
  .contenedor h1 {
    background-color: rgba(255, 255, 255, 0.85); }
  .contenedor .seccion1 {
    background-color: #cfa67dda;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s; }
    .contenedor .seccion1:hover {
      background-color: #cfa67d; }
  .contenedor .seccion2, .contenedor .seccion2-m {
    background-color: #474747ce;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s; }
    .contenedor .seccion2:hover, .contenedor .seccion2-m:hover {
      background-color: #ffbc9d; }
  .contenedor .seccion2-m:hover {
    background-color: #181a1b; }
  .contenedor .seccion3, .contenedor .seccion3-m {
    background-color: #474747ce;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s; }
    .contenedor .seccion3:hover, .contenedor .seccion3-m:hover {
      background-color: #E5D2C4; }
  .contenedor .seccion3-m:hover {
    background-color: #181a1b; }
  .contenedor footer {
    background-color: #181a1b;
    color: #E5D2C4; }

.contenedor-store {
  background-color: #181a1b; }
  .contenedor-store header {
    background-color: white;
    border-bottom: solid 3px #e0e0e0; }
    .contenedor-store header .lista-header {
      list-style: none;
      color: #474747; }
      .contenedor-store header .lista-header li {
        box-shadow: #e7e7e7 2px 2px;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 0.538);
        transition: all 0.3s; }
        .contenedor-store header .lista-header li:hover {
          background-color: #ffffffce;
          box-shadow: 3px 3px  #ffc9bc; }
      .contenedor-store header .lista-header a {
        text-decoration: none;
        color: #474747; }
  .contenedor-store h1 {
    background-color: #181a1b;
    border-bottom: solid 2px #2c2c2c; }
  .contenedor-store .productos {
    background-color: #181a1b; }
    .contenedor-store .productos .productos-carta {
      border-radius: 5px;
      background-color: black;
      color: white; }
  .contenedor-store .publicidad {
    background-color: #3a8fd4; }
  .contenedor-store .filtros {
    background-color: #181a1b;
    color: white; }
    .contenedor-store .filtros ul a {
      color: white; }
  .contenedor-store .buscador {
    background-color: #181a1b; }
    .contenedor-store .buscador input {
      background-color: #111213;
      color: white;
      border-radius: 3px;
      border: 1px solid #474747; }
  .contenedor-store footer {
    background-color: #0d0d0e;
    color: #E5D2C4; }

.contenedor {
  display: grid;
  grid-template-areas: "navbar navbar navbar navbar" "encabezado encabezado encabezado encabezado" "espacio1 seccion1 seccion1 espacio2" "espacio1 seccion2 seccion3 espacio2" "pie pie pie pie";
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: 2fr 1.5fr 5fr 5fr 1fr;
  width: 100%;
  height: 100vh;
  grid-gap: 5px; }
  .contenedor header {
    display: flex;
    width: 100%;
    grid-area: navbar;
    justify-content: space-between;
    align-items: center; }
    .contenedor header .imagen-header img {
      display: flex;
      width: 100%; }
    .contenedor header .lista-header {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 80vw;
      align-items: center;
      list-style: none; }
      .contenedor header .lista-header li {
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s; }
        .contenedor header .lista-header li:hover {
          padding-top: 13px;
          padding-bottom: 13px; }
  .contenedor h1 {
    grid-area: encabezado;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 20px; }

@keyframes animacion {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
  .contenedor .seccion1 {
    display: flex;
    grid-area: seccion1;
    width: 100%;
    padding: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation-name: animacion;
    animation-duration: 0.7s;
    animation-delay: 0s; }
  .contenedor .seccion2, .contenedor .seccion2-m {
    display: flex;
    grid-area: seccion2;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation-name: animacion;
    animation-duration: 0.7s;
    animation-delay: 0s; }
  .contenedor .seccion3, .contenedor .seccion3-m {
    display: flex;
    grid-area: seccion3;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 16px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    animation-name: animacion;
    animation-duration: 0.7s;
    animation-delay: 0s; }
  .contenedor footer {
    display: flex;
    grid-area: pie;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 7.7vh; }

.contenedor-store {
  display: grid;
  grid-template-areas: "navbar navbar navbar" "h1 h1 h1" "filtros buscador publicidad" "filtros productos publicidad" "pie pie pie";
  grid-template-columns: 4fr 10fr 2fr;
  grid-template-rows: 17vh 12vh 10vh auto auto;
  width: 100%;
  height: 100%;
  grid-gap: 0px; }
  .contenedor-store header {
    display: flex;
    width: 100%;
    grid-area: navbar;
    justify-content: space-between;
    align-items: center; }
    .contenedor-store header .imagen-header img {
      display: flex;
      width: 100%; }
    .contenedor-store header .lista-header {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 80vw;
      align-items: center;
      list-style: none;
      padding-top: 10px; }
      .contenedor-store header .lista-header li {
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s; }
        .contenedor-store header .lista-header li:hover {
          padding-top: 13px;
          padding-bottom: 13px; }
  .contenedor-store h1 {
    display: flex;
    grid-area: h1;
    justify-items: center;
    align-items: center; }
  .contenedor-store .productos {
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .contenedor-store .productos .productos-header {
      width: 100%;
      padding: 20px; }
    .contenedor-store .productos .productos-carta {
      width: 240px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px; }
      .contenedor-store .productos .productos-carta img {
        width: 100%; }
        .contenedor-store .productos .productos-carta img:hover {
          opacity: 80%; }
      .contenedor-store .productos .productos-carta h4 {
        padding: 15px;
        padding-bottom: 5px; }
      .contenedor-store .productos .productos-carta p {
        padding-left: 15px;
        padding-bottom: 16px; }
  .contenedor-store .publicidad {
    grid-area: publicidad; }
  .contenedor-store .filtros {
    display: flex;
    grid-area: filtros;
    flex-direction: column;
    justify-items: left; }
    .contenedor-store .filtros p {
      padding-left: 22px;
      margin-top: 20px;
      margin-bottom: 10px;
      justify-items: end;
      margin-left: 30px; }
    .contenedor-store .filtros ul {
      list-style: none;
      margin-left: 30px; }
      .contenedor-store .filtros ul li {
        padding: 18px;
        padding-left: 22px;
        transition: all 0.4s; }
        .contenedor-store .filtros ul li:hover {
          padding-left: 30px; }
  .contenedor-store .buscador {
    grid-area: buscador;
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 25pxpx; }
    .contenedor-store .buscador img {
      padding: 5px;
      padding-bottom: 1px;
      width: 33px;
      height: 29px;
      margin-left: 30px;
      margin-right: 10px; }
    .contenedor-store .buscador input {
      width: 75%;
      height: 40px;
      border: none; }
  .contenedor-store footer {
    display: flex;
    grid-area: pie;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 7.7vh;
    padding-top: 15px; }

@media screen and (max-width: 768px) {
  .contenedor {
    background-image: none;
    background-color: #474747;
    display: grid;
    grid-template-areas: "seccion1" "seccion2" "seccion3" "navbar";
    grid-template-columns: 100%;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    width: 100%;
    height: 100vh;
    grid-gap: 0px; }
    .contenedor h1 {
      display: none; }
    .contenedor footer {
      display: none;
      height: 0px;
      width: 0px; }
    .contenedor .seccion1 {
      grid-area: seccion1;
      width: 90%;
      height: 70%;
      padding: 4px;
      margin-top: 50px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      animation-name: animacion;
      animation-duration: 0.7s;
      animation-delay: 0s;
      font-size: 55px;
      border-radius: 0px;
      font-weight: bolder; }
    .contenedor .seccion2, .contenedor .seccion2-m {
      background-color: #ffbc9d;
      display: flex;
      grid-area: seccion2;
      width: 90%;
      height: 80%;
      margin-top: 35px;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
      padding: 16px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      animation-name: animacion;
      animation-duration: 0.7s;
      animation-delay: 0s;
      font-size: 40px;
      border-radius: 0px;
      font-weight: bolder; }
    .contenedor .seccion3, .contenedor .seccion3-m {
      background-color: #E5D2C4;
      display: flex;
      grid-area: seccion3;
      width: 90%;
      height: 80%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      padding: 16px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      animation-name: animacion;
      animation-duration: 0.7s;
      animation-delay: 0s;
      font-size: 50px;
      border-radius: 0px;
      font-weight: bolder; }
    .contenedor header {
      height: 15vh;
      position: fixed;
      bottom: 0;
      background-color: white; }
      .contenedor header .lista-header {
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100vw;
        align-items: center;
        list-style: none; }
        .contenedor header .lista-header #Nosotras {
          display: none; }
        .contenedor header .lista-header li {
          padding: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          font-size: 20px; }
    .contenedor .imagen-header img {
      display: none; } }

@media screen and (max-width: 768px) {
  .contenedor-store {
    display: grid;
    grid-template-areas: "buscador" "productos" "filtros" "navbar";
    grid-template-columns: 100vw;
    grid-template-rows: 7vh auto auto 2fr;
    width: 100%;
    height: 100%;
    grid-gap: 0px; }
    .contenedor-store header {
      height: 15vh;
      position: fixed;
      bottom: 0;
      background-color: white; }
      .contenedor-store header .lista-header {
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100vw;
        align-items: center;
        list-style: none; }
        .contenedor-store header .lista-header #Nosotras {
          display: none; }
        .contenedor-store header .lista-header li {
          padding: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          font-size: 20px; }
    .contenedor-store .productos {
      grid-area: productos;
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      margin-top: 20px;
      margin-left: 5px; }
      .contenedor-store .productos .productos-header {
        display: none;
        width: 100%;
        padding: 20px; }
      .contenedor-store .productos .productos-carta {
        width: 42vw;
        height: 43vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; }
        .contenedor-store .productos .productos-carta img {
          width: 100%; }
          .contenedor-store .productos .productos-carta img:hover {
            opacity: 80%; }
        .contenedor-store .productos .productos-carta h4 {
          padding-bottom: 2px; }
        .contenedor-store .productos .productos-carta p {
          padding-bottom: 2px; }
    .contenedor-store .publicidad {
      display: none; }
    .contenedor-store #filtros {
      display: none; }
    .contenedor-store .filtros {
      display: flex;
      grid-area: filtros;
      flex-direction: column;
      justify-items: left;
      margin-bottom: 110px; }
      .contenedor-store .filtros p {
        padding-left: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
        justify-items: end;
        margin-left: 30px; }
      .contenedor-store .filtros ul {
        list-style: none;
        margin-left: 30px; }
        .contenedor-store .filtros ul li {
          padding: 18px;
          padding-left: 22px;
          transition: all 0.4s; }
          .contenedor-store .filtros ul li:hover {
            padding-left: 30px; }
    .contenedor-store .buscador {
      grid-area: buscador;
      display: flex;
      align-items: center;
      padding-top: 15px;
      margin-top: 10px;
      padding-bottom: 25pxpx; }
      .contenedor-store .buscador img {
        padding: 5px;
        padding-bottom: 1px;
        width: 33px;
        height: 29px;
        margin-left: 30px;
        margin-right: 10px; }
      .contenedor-store .buscador input {
        width: 75%;
        height: 40px;
        border: none; }
    .contenedor-store footer {
      display: none; } }
