$color1: #474747;
$detalles: #e0e0e0;
$fondo1: white;
$fondoOscuro: rgb(20, 20, 20);

$sombra: #e7e7e7;

$marron: #cfa67d;
$rosa: #ffbc9d; 
$nude: #E5D2C4;

.contenedor {

    background-image: url(/images/fondo.png);
    background-repeat: repeat-y;
    background-size: 100%;

    header {

        background-color: $fondo1;
        border-bottom: solid 3px $detalles;
        opacity: 90%;


        .lista-header {

            list-style: none;
            color: $color1;
            opacity: 100%;

            li {

                box-shadow: $sombra 1px 1px;
                border-radius: 1px;
                border: solid 1px white;
                transition: all 0.3s;
                
                &:hover {

                    background-color: #ffffffce; 
                    box-shadow: 3px 3px  #ffc9bc ;
                    border: 1px solid rgb(233, 228, 228);

                
                }

            }

            a {
                text-decoration: none;
                color: $color1;
            
            }
        
        }
    }

        .seccion1 {

            background-color: $marron;
            color: white;
            text-decoration: none;
            opacity: 90%;
            box-shadow: inset 4px 4px 6px #997a5a ;

            &:hover {

                background-color: #997a5a;
            
            }
        
        }


        .seccion2 {

            background-color:  $rosa;
            color: white;
            text-decoration: none;
            opacity: 90%;
            box-shadow: inset 4px 4px 6px #e28d66 ;

            &:hover {

                background-color: #e28d66;
            
            }
        }
            .seccion3 {
             
                background-color: $nude;
                color: white;           
                text-decoration: none;
                opacity: 90%;

            
                &:hover {

                    background-color: #9b8b80;
                
                }
            }
        
    

    footer {
        background-color: #181a1b;;
        color: $nude;

    
    
    }

}

.contenedor-store {

    background-color: white;

    header {
        background-color: white;
        border: solid 2px black;


        
    }

    .productos {

        border: solid 2px black;
        background-color: #ffffffe8;
    }
    
    
    .publicidad {

        border: solid 2px black;
    }
    
    
    .filtros {

        background-color:white;
        border: solid 2px black;
    }
    
    .buscador {
    
        background-color: #b3a9a9;
        border: solid 2px black;
    
    }
    
    
    

    footer {
        
        border: solid 2px black;
    
    
    }

}
