$lobster: 'Lobster Two', cursive;
$anek: 'Anek Malayalam', sans-serif;

.contenedor {

    header {

        .lista-header {

            font-size: 1.9vw;
            font-weight: 700;
            font-family: $anek;

        
        }
    }

        .seccion1 {

            font-size: 6.5vw;
            font-family: $lobster;
        
        }


        .seccion2 {

            font-size: 5.5vw;
            font-family: $lobster;

        }
            .seccion3 {

                font-size: 5.8vw;
                font-family: $lobster;


            }
        

}